body {
    height:100vh;
}

.bloc{
    height: 100vh;
    width:100%;
    /*background-image: url("../images/backgroundImage2.jpg");*/
    background-color: rgba(4,77,67,0.7);
    /*background-size: cover;*/
    /*opacity: 1;*/
}

.arc-bouygues-droit {
    position:absolute;
    top:0;
    right:0;
    width:10%;
    z-index: 10;
}

.arc-bouygues-droit img {
    width: 80%;
}

.arc-bouygues-gauche {
    position:absolute;
    bottom:0;
    left:0;
    width:15%;
}

.arc-bouygues-gauche img {
    width: 80%;
}

/*INDEX*/

.package {
    height: 100vh;
    background-color: #b9b9b9;
    opacity: 0.9;
}

.package--title h1 {
    padding: 10px;
}

/**PACKAGE FRONT**/

.container-bloc-home {
    background-color: #14b8a0;
    transform: rotate(-3deg);
    padding: 50px;
    height:88vh;
}

.package-front {
    transform: rotate(3deg);
    width:85%;
    height: 80vh;
    margin: auto;
    background-color: #044d43 ;
    color: white;
}

.package--front--title {
    font-size: 24px;
}

.package--product--tab {
    color:black;
    /*width: 60%;*/
}

.form-product-qty-value {
    width:60%;
}

/** Form login css CodePen Josh Adamous **/

.form-login {
    width: 380px;
    margin: 4em auto;
    padding: 3em 2em 2em 2em;
    background: #fafafa;
    border: 1px solid #ebebeb;
    box-shadow: rgba(0,0,0,0.14902) 0px 1px 1px 0px, rgba(0,0,0,0.09804) 0px 1px 2px 0px;
}

.group-login {
    position: relative;
    margin-bottom: 45px;
}

.input-login {
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    -webkit-appearance: none;
    display: block;
    background: #fafafa;
    color: #636363;
    width: 100%;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #757575;
}
    /* supprime le cadre au clic dans l'input*/
.input-login:focus { outline: none; }

.label-login {
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: all 0.2s ease;
}

.input-login:focus ~ .label-login {
    top: -20px;
    transform: scale(.75); left: -2px;
     font-size: 14px;
    color: #4a89dc;
}


.input-login.used ~ .label-login {
    top: -20px;
    transform: scale(.75); left: -2px;
    font-size: 14px;
    color: #4a89dc;
}

/* Underline */

.bar {
    position: relative;
    display: block;
    width: 100%;
}

.bar:before, .bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #4a89dc;
    transition: all 0.2s ease;
}

.bar:before { left: 50%; }

.bar:after { right: 50%; }

.input-login:focus ~ .bar:before, .input-login:focus ~ .bar:after { width: 50%; }

/* Highlight */

.highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}


/* active */

input:focus ~ .highlight {
    animation: inputHighlighter 0.3s ease;
}

@keyframes inputHighlighter {
    from { background: #4a89dc; }
    to 	{ width: 0; background: transparent; }
}

/* Button */

.button {
    position: relative;
    display: inline-block;
    padding: 12px 24px;
    margin: .3em 0 1em 0;
    width: 100%;
    vertical-align: middle;
    color: #fff;
    font-size: 16px;
    line-height: 20px;
    -webkit-font-smoothing: antialiased;
    text-align: center;
    letter-spacing: 1px;
    background: transparent;
    border: 0;
    border-bottom: 2px solid #3160B6;
    cursor: pointer;
    transition: all 0.15s ease;
}
.button:focus { outline: 0; }


/* Button modifiers */

.buttonBlue {
    background: #4a89dc;
    text-shadow: 1px 1px 0 rgba(39, 110, 204, .5);
}

.buttonBlue:hover { background: #357bd8; }

/* Ripples container */

.ripples {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: transparent;
}


/* Ripples circle */

.ripplesCircle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    width: 0;
    height: 0;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.25);
}

.ripples.is-active .ripplesCircle {
    animation: ripples .4s ease-in;
}


/* Ripples animation */

@keyframes ripples {
    0% { opacity: 0; }

    25% { opacity: 1; }

    100% {
        width: 200%;
        padding-bottom: 200%;
        opacity: 0;
    }
}


/** ADMIN **/

.container-index-admin {
    background-color: #fafafa ;
    height: 94vh;
}

 .table-index {
    width:100%;
}




