{% extends 'base.html.twig' %}

{% block body %}

    <div class="container container-bloc-home">

        <h1>Il est temps de préparer votre paquetage</h1>


        <div id="accordion" role="tablist" aria-multiselectable="true">

            <div class="card">
                <div class="card-header" role="tab" id="headingTwo">
                    <h5 class="mb-0">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"
                           aria-expanded="false" aria-controls="collapseTwo">
                            Pantalons
                        </a>
                    </h5>
                </div>

                <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="card-block">

                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Libellé</th>
                                <th>Taille</th>
                                <th>Quantité</th>
                                <th>OK</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for produit in produits %}
                                {% if produit.category.name == 'Pantalon' %}
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>
                                            {{ produit.name }}</td>
                                        <td>
                                            <select class="custom-select">
                                                <option selected>tailles</option>
                                                {% for taille in produit.tailles %}
                                                <option value="{{ taille.id }}">{{ taille.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </td>
                                        <td>
                                            <input type="number" class="form-group" id="quantity">
                                        </td>
                                        <td>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="customCheck1">
                                                <label class="custom-control-label" for="customCheck1">Check this custom checkbox</label>
                                            </div>
                                        </td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>

        </div>

    </div>


{% endblock %}